<%= link_to community_notifications_path, class: 'notification-btn' do %>
  <i class="fa fa-bell"></i>
  <div class="alert-new-group-top notification <%= current_user.community_notifications.not_seen.exists? ? "display_alert" : "" %>"></div>
<% end %>