<div class="modal-custom modal-join-group" id="modal-join-community">
  <div class="modal-content">
    <span class="close-modal dismiss-modal-btn" title="Close Modal">×</span>
    <div class="container">
      <h2 class="community_name modal-title"></h2>
      <div>
        参加申請を提出しました。
        <br/>
        オーナーの承認をお待ちください。
      </div>
      <br>
      <div class="clearfix">
        <%= link_to 'OK', '#', class: "close-modal btn-ok" %>
      </div>
    </div>
  </div>
</div>
