<div class="modal-custom modal-check-word-violate-group">
  <span class="btn-close-modal close-modal" title="Close Modal">×</span>
  <div class="modal-content">
    <div class="container">
      <h2>悪い言葉が含まれているので、エラーが発生しました。</h2>
      <div class="clearfix">
        <button type="button" class="btn-confirm close-modal-check-words">OK</button>
      </div>
    </div>
  </div>
</div>